---
---

@import "{{ site.theme }}";

header h1 {
  color: #329da8;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(228, 79, 231, 0.1),
               0 0 10px rgba(228, 79, 231, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  color: #329da8;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(228, 79, 231, 0.1),
               0 0 10px rgba(228, 79, 231, 0.1);
}
